---
import Layout from '../layouts/Layout.astro'
import TimelineCard from '../components/general/TimelineCard.astro'
import FeatureList from '../components/general/FeatureList.astro'
import Link from '../components/shared/Link.astro'
import Updates from '../bd/updates.json'

let title = 'Release Notes - Últimas características'

---

<Layout title={title}>
    <div class="max-w-screen-md min-h-full mx-auto px-6 py-12 md:py-32">
        <header>
            <h1 class="font-bold leading-tight text-3xl text-center">
                Release note <br>
                Ideas Studio
            </h1>
        </header>
        <section class="mt-16">
            <h2 class="font-bold text-xl leading-snug mb-6 text-gray-900 text-center">Últimas características</h2>
            { Updates.map(({features, repository, version}) => (
                <TimelineCard name={repository} version={version}>
                    { features.map(({title, feature}) => (
                        <FeatureList title={title} features={feature} />
                    )) }
                </TimelineCard>
            )) }
            <div class="mt-12 flex items-center justify-between">
                <Link href='/' position="left">
                    <span>Home</span>
                </Link>
                <Link href='/' position="right">
                    <span>Anteriores publicaciones</span>
                </Link>
            </div>
        </section>
    </div>
</Layout>